@model rcLogTransfers.SistemaTransfer

@{
    ViewData["Title"] = "Sistemas";
}

<div class="divConteudo">
    <div class="divConteudoMeio">
        <form id="form" asp-controller="Log" asp-action="Index" asp-anti-forgery method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="@Model.Paginacao.PaginaAtual">
            <input type="hidden" asp-for="@Model.Paginacao.RegistrosPorPagina">
            <input type="hidden" asp-for="@Model.Filtro.IdDe">
            <input type="hidden" asp-for="@Model.Filtro.IdAte">
            <input type="hidden" asp-for="@Model.Filtro.Descricao">
            <input type="hidden" asp-for="@Model.Filtro.Codigo">
            <input type="hidden" asp-for="@Model.Filtro.Ativo">
            <input type="hidden" asp-for="@Model.Filtro.CriacaoDe">
            <input type="hidden" asp-for="@Model.Filtro.CriacaoAte">
            <input type="hidden" asp-for="@Model.Filtro.AlteracaoDe">
            <input type="hidden" asp-for="@Model.Filtro.AlteracaoAte">
            @* Se retornou registro(s), mostrar paginação *@
            @if (Model.Paginacao.TotalRegistros > 0) {
                <nav class="navBarra">
                    @if (Model.Paginacao.PaginaAtual < 2) {
                        <span class="navCaixaGr">Primeira</span>
                        <span class="navCaixaGr">Anterior</span>
                    } else {
                        <a class="txtPaginacao" href="javascript:paginar(1);"><span class="botaoGr">Primeira</span></a>
                        <a class="txtPaginacao" href="javascript:paginar(@(Model.Paginacao.PaginaAtual - 1));"><span class="botaoGr">Anterior</span></a>
                    }
                    @if (Model.Paginacao.PaginaInicial > 1 ) {
                        <span class="navCaixaPq">...</span>
                    } else {
                        <span class="navCaixaPq"></span>
                    }
                    @for (int pag = Model.Paginacao.PaginaInicial; pag <= Model.Paginacao.PaginaFinal; pag++)
                    {
                        @if (pag == Model.Paginacao.PaginaAtual) {
                            <span class="navCaixaSel">@pag</span>
                        } else {
                            <a class="txtPaginacao" href="javascript:paginar(@pag);"><span class="botaoPq">@pag</span></a>
                        }
                    }
                    @if (Model.Paginacao.PaginaFinal < Model.Paginacao.TotalPaginas) {
                        <span class="navCaixaPq">...</span>
                    } else {
                        <span class="navCaixaPq"></span>
                    }
                    @if (Model.Paginacao.PaginaAtual < Model.Paginacao.TotalPaginas) {
                        <a class="txtPaginacao" href="javascript:paginar(@(Model.Paginacao.PaginaAtual + 1));"><span class="botaoGr">Próximo</span></a>
                        <a class="txtPaginacao" href="javascript:paginar(@Model.Paginacao.TotalPaginas);"><span class="botaoGr">Última</span></a>
                    } else {
                        <span class="navCaixaGr">Próximo</span>
                        <span class="navCaixaGr">Última</span>
                    }
                </nav>
            }
            <br>
            <table class="tabela txtPadraoClr">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Código</th>
                        <th>Ativo</th>
                    </tr>
                </thead>
                <tbody>
                    @if (@Model.Lista != null) {
                        @foreach (var item in @Model.Lista) {
                            <tr>
                                <td><a asp-controller="Cor" asp-action="Form" asp-route-id="@item.Id">@item.Id</a></td>
                                <td><a asp-controller="Cor" asp-action="Form" asp-route-id="@item.Id">@item.Nome</a></td>
                                <td><a asp-controller="Cor" asp-action="Form" asp-route-id="@item.Id">@item.Descricao</a></td>
                                <td><a asp-controller="Cor" asp-action="Form" asp-route-id="@item.Id">@item.Codigo</a></td>
                                <td><a asp-controller="Cor" asp-action="Form" asp-route-id="@item.Id">@item.Ativo</a></td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>111111111111111111111111111111 111111111111111111111 1111111111111111111 11111111111111111111111 1 1 1 1 11111</td>
                        <td>222222222222222222222222222222 2222222222222222222222222 2222222222222222222 2222222222222222222222222 222222222222222222</td>
                        <td>3333</td>
                        <td>4444</td>
                        <td>5555</td>
                    </tr>
                    <tr>
                        <td>1111111111111111111111111111 111111111111111111111111111111111111111111 11111111111111111111111 1 1 1 1 11111</td>
                        <td>222222222222222 22222222222222222 22222222222222222222222 2222222222222222222 2222222222222222222222222 222222222222222222</td>
                        <td>3333</td>
                        <td>4444</td>
                        <td>5555</td>
                    </tr>
                    <tr>
                        <td>1111111111111111111111111111111 11111111111111111111111 1111111111111111 11111111111111111111111 1 1 1 1 11111</td>
                        <td>22222222222222222 222222222222222222 22222222222222222222 2222222222222222222 222222222222222222222222 2222222222222222222</td>
                        <td>3333</td>
                        <td>4444</td>
                        <td>5555</td>
                    </tr>
                </tbody>
            </table>
            <div class="divPaginacaoInfo txtPaginacaoInfo">
                <span>@Model.Paginacao.TotalRegistros registro(s)</span> &nbsp; | &nbsp;
                <span>@Model.Paginacao.RegistrosPorPagina registro(s) por página</span> &nbsp; | &nbsp;
                <span>@Model.Paginacao.TotalPaginas página(s)</span>
            </div>
            <br>
            @* Se retornou registro(s), mostrar paginação *@
            @if (Model.Paginacao.TotalRegistros > 0) {
                <nav class="navBarra">
                    @if (Model.Paginacao.PaginaAtual < 2) {
                        <span class="navCaixaGr">Primeira</span>
                        <span class="navCaixaGr">Anterior</span>
                    } else {
                        <a class="txtPaginacao" href="javascript:paginar(1);"><span class="botaoGr">Primeira</span></a>
                        <a class="txtPaginacao" href="javascript:paginar(@(Model.Paginacao.PaginaAtual - 1));"><span class="botaoGr">Anterior</span></a>
                    }
                    @if (Model.Paginacao.PaginaInicial > 1 ) {
                        <span class="navCaixaPq">...</span>
                    } else {
                        <span class="navCaixaPq"></span>
                    }
                    @for (int pag = Model.Paginacao.PaginaInicial; pag <= Model.Paginacao.PaginaFinal; pag++)
                    {
                        @if (pag == Model.Paginacao.PaginaAtual) {
                            <span class="navCaixaSel">@pag</span>
                        } else {
                            <a class="txtPaginacao" href="javascript:paginar(@pag);"><span class="botaoPq">@pag</span></a>
                        }
                    }
                    @if (Model.Paginacao.PaginaFinal < Model.Paginacao.TotalPaginas) {
                        <span class="navCaixaPq">...</span>
                    } else {
                        <span class="navCaixaPq"></span>
                    }
                    @if (Model.Paginacao.PaginaAtual < Model.Paginacao.TotalPaginas) {
                        <a class="txtPaginacao" href="javascript:paginar(@(Model.Paginacao.PaginaAtual + 1));"><span class="botaoGr">Próximo</span></a>
                        <a class="txtPaginacao" href="javascript:paginar(@Model.Paginacao.TotalPaginas);"><span class="botaoGr">Última</span></a>
                    } else {
                        <span class="navCaixaGr">Próximo</span>
                        <span class="navCaixaGr">Última</span>
                    }
                </nav>
            }
            <br>
        </form>
    </div>
</div>
<br>
